.ToDoItemContainer{
  background-image: url('../logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten;
}
.ToDoItemForm{
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.ToDoItemForm *{
  text-align: center;
}
.ToDoItemForm input{
  margin: 2px auto 2px auto;
}